transformers==4.37.2
git+https://github.com/openai/whisper.git
gradio
gTTS
datasets
sentence-transformers
faiss-cpu
torch
ipython
pandas
bs4
langchain
html2text
langdetect 
mtranslate
sentencepiece
pillow
scikit-learn
numpy
googletrans==4.0.0-rc1
selenium
beautifulsoup4
webdriver-manager